INSTALL
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h.in
config.sub
configure
depcomp
dmtxquery/Makefile.in
dmtxread/Makefile.in
dmtxwrite/Makefile.in
install-sh
ltmain.sh
m4/*
missing
config.log
Makefile
common/.deps/
common/.dirstamp
config.h
config.status
dmtxquery/.deps/
dmtxquery/Makefile
dmtxread/.deps/
dmtxread/Makefile
dmtxwrite/.deps/
dmtxwrite/Makefile
libtool
stamp-h1
